<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" /-->

        <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
        <bean id="org.hibernate.SessionFactory" name="sessionFactory" class="DeveloperCity.DataAccess.HibernateSession" factory-method="getSessionFactory" />

        <bean id="persistenceUtil" class="net.sf.gilead.core.hibernate.HibernateUtil">
            <property name="sessionFactory" ref="org.hibernate.SessionFactory" />
        </bean>

        <bean id="proxyStore" class="net.sf.gilead.core.store.stateful.HttpSessionProxyStore">
            <property name="persistenceUtil" ref="persistenceUtil" />
        </bean>

        <bean id="persistentBeanManager" class="net.sf.gilead.core.PersistentBeanManager">
            <property name="proxyStore" ref="proxyStore" />
            <property name="persistenceUtil" ref="persistenceUtil" />
        </bean>
</beans>
