div.outer div.limit div.header div.logos h1 a{
	background:url(/CAC/resources/IMAGES/Danone.png) no-repeat;
}

body.home div.outer div.limit div.inside h1 {
	background: url(/CAC/resources/IMAGES/Danone.png) no-repeat;
}



body.home div.outer div.limit div.inside div.content form fieldset legend span b{
	background-color: #40abe3;
}


body.home div.outer div.limit div.inside div.content ul.welcome li strong {
	background-color: #40abe3;
}

body.home div.outer div.limit div.inside div.content form fieldset legend span b{
	background-color: #40abe3;
}

div.outer div.limit div.inside div.content ul.welcome li strong {
	background-color: #40abe3;
}

div.outer div.limit div.header div.outras-aplicacoes strong {
	background-color:#40abe3;
}


div.outer div.limit div.header div.outras-aplicacoes ul {
	background-color:#40abe3;
}

div.outer div.limit div.header div.outras-aplicacoes ul li.active a {
	color:#40abe3;
}

div.outer div.limit div.header ul.menu li a{
	color:#40abe3;
}


div.outer div.limit div.inside div.breadcrumb strong {
	color: #40abe3;
}


div.outer div.limit div.inside div.breadcrumb h3 {
	background: #40abe3 url(/CAC/resources/IMAGES/breadcrumb-heading-bg.png) left bottom no-repeat;
}

div.outer div.limit div.inside div.breadcrumb ul li a {
	color: #40abe3;
}

div.outer div.limit div.header div.logos p strong {
	background-color: #40abe3;
}
